@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

main {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

#page_body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    max-width: 1312px;
}

#text_body {
    display: flex;
    flex-direction: row;
}

#bodhi {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 100%;
}


#head_title {
    background-color: rgb(66, 145, 152);
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    padding: 40px;
    padding-left: 100px;
}


.regular_text {
    font-size: 16px;
}

#given_img {
    width: 100%;
}

.img_caption {
    font-size: 12px;
}

button {
    border-radius: 15px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
    margin: 10px;
    background-color: rgb(66, 145, 152);
}

#MonthPicker{
  font-weight: 400;
  width: 50%;
  height: 40px;
  margin: 0 auto;
  padding: 3px 15px;
  color: gray;
  border-radius: 0px;
  border: 1px solid gray;
  background-color: white;
  text-align: left;
}

.mpCaption{
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: rgb(66, 145, 152);
  
}

.hide_part {
    display: none;
}

.showed_part {
    display: flex;
    flex-direction: row-reverse;
    min-height: 500px;
}

#text_and_picker {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#chartdiv {
    width: 50%;
}

@media (min-width: 901px) {
    #page_body {
        margin: 7%;
        margin-top: 50px;
    }
}

@media (max-width: 900px) and (min-width:601px) {
    #page_body{
      margin-left:20%;
      margin-right: 20%;
      margin-top: 10%;
    }
    #text_body {
        flex-direction: column-reverse;
    }
    #bodhi {
       width: 100%;
    }
    .showed_part {
        flex-direction: column;
    }
    #text_and_picker {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #chartdiv {
        width: 100%;
    }
}

@media (max-width: 600px) {
    #page_body{
      margin:15%;
    }
    #text_body {
        flex-direction: column-reverse;
    }
    #bodhi {
       width: 100%;
    }
    .showed_part {
        flex-direction: column;
    }
    #text_and_picker {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    #chartdiv {
        width: 100%;
    }
}